<div class="home-content">
  <!-- <div style="width: 100%; text-align: left">
    <h1>Consistency + Mastery</h1>
  </div> -->

  <div class="champ-list">
    <!-- <div class="champion-box" *ngFor="let champion of champions" [style.backgroundImage]="'url(' + champion.img + ')'">
      {{champion.name}}
    </div> -->
    <swiper style="width:100%" [slidesPerView]="3" [spaceBetween]="30" [freeMode]="true" [pagination]="{
          clickable: true
        }" class="mySwiper">
      <ng-template #slide class="champion-box" *ngFor="let champion of champions" swiperSlide>
        <div (click)="activate(champion)" class="swiper-champion-box"
          [style.backgroundImage]="'url(' + champion.img + ')'" [ngClass]="{ 'champ-active': champion.active }"
          [style.backgroundPositionX]="champion.bgImageShift">
          <h2>{{ champion.name }}</h2>
        </div>
      </ng-template>
    </swiper>
  </div>
  <div *ngIf="this.activeChampion" class="win-streak-content">

    <div class="header">
      <h5>3 Game Streak</h5>
    </div>

    <div class="game-tiles-content">
      <div class="game game-1">
        <div class="game-icon">

        </div>
        <div class="game-num">
          1
        </div>
      </div>
      <div class="game-1-divider">

      </div>
      <div class="game game-2">
        <div class="game-icon">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="game-num">
          2
        </div>
      </div>
      <div class="game-2-divider">

      </div>
      <div class="game game-3">
        <div class="game-icon">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="game-num">
          3
        </div>
      </div>
    </div>
    <div class="targets">
      <div class="col-1">
        <div class="progress-container">
          <div class="main-bar">
            <div class="progress-bar-fill">
              <div class="bar-desc">CS Per Min</div>
            </div>
          </div>
          <div class="tick">
            <div class="labels">
              <div class="tick-label-top">Target</div>
              <div class="tick-label-bottom">7 cs/min</div>
            </div>
          </div>
        </div>
        <div class="target-spacer"></div>
        <div class="progress-container">
          <div class="main-bar">
            <div class="progress-bar-fill">

            </div>
            <div class="bar-desc">Passive Proc Uptime</div>

          </div>
          <div class="tick">
            <div class="labels">
              <div class="tick-label-top">Target</div>
              <div class="tick-label-bottom">90%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cs-streak-content">

  </div>

  <div class="kit-utilization-content">

  </div>

</div>