<div class="home-content">
  <div class="win-streak-content">

    <div class="header">
      <h1>Win 3 games in a row</h1>
    </div>

    <div class="game-tiles-content">
      <div class="game game-1">
        <div class="game-icon">

        </div>
        <div class="game-num">
          1
        </div>
      </div>
      <div class="game-1-divider">

      </div>
      <div class="game game-2">
        <div class="game-icon">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="game-num">
          2
        </div>
      </div>
      <div class="game-2-divider">

      </div>
      <div class="game game-3">
        <div class="game-icon">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
        <div class="game-num">
          3
        </div>
      </div>
    </div>
  </div>

  <div class="cs-streak-content">

  </div>

  <div class="kit-utilization-content">

  </div>

</div>