.home-content {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.win-streak-content {
  height: auto;
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px;
  // background-color: burlywood;
  box-shadow: 0px 3px 5px #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.win-streak-content > .header {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  height: 20%;
  display: flex;
  align-items: center;
}

.game-tiles-content {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-tiles-content > div {
  width: 20%;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-icon {
  background-image: url("../../assets/images/victory.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1/1;
  width: 100%;
  background-color: black;
  aspect-ratio: 1/1 !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.game-icon:hover {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(120, 214, 58, 0.9);
  -moz-box-shadow: 0px 0px 17px 0px rgba(120, 214, 58, 0.9);
  box-shadow: 0px 0px 17px 0px rgba(120, 214, 58, 0.9);
}

.game-2 > .game-icon {
  transform: scale(0.9);
  filter: blur(1px);

  & ion-icon {
    width: 60%;
    height: 60%;
    color: #aa8b00;
  }
}

.game-3 > .game-icon {
  transform: scale(0.8);
  filter: blur(2px);
  & ion-icon {
    width: 60%;
    height: 60%;
    color: #aa8b00;
  }
}

.game-tiles-content > div[class*="divider"] {
  height: 3px;
  background-color: black;
}

.game-num {
  box-sizing: border-box;
  margin-top: 10px;
}

.targets {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.col-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.progress-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}

.main-bar {
  height: 20px;
  background-color: rgb(67, 67, 67);
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.progress-bar-fill {
  height: 100%;
  width: 60%;
  background-color: #59a777;
}
.tick {
  position: absolute;
  height: 24px;
  width: 2px;
  background-color: white;
  right: 35%;
  top: -2px;
}
.labels {
  width: fit-content;
  height: 24px;
  position: relative;
  font-size: 8px;
}
.tick-label-top {
  position: absolute;
  top: -11px;
  left: -15px;
  display: none;
}
.tick-label-bottom {
  width: fit-content;
  position: absolute;
  white-space: nowrap;
  bottom: -11px;
  left: -15px;
}

.target-spacer {
  width: 100%;
  height: 50px;
}

.bar-desc {
  position: absolute;
  white-space: nowrap;
  font-size: 7px;
  top: -12px;
}

.labels > div {
  min-width: 31px;
  text-align: center;
}

.champ-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;
  padding: 30px;
}

.champion-box {
  min-width: 245px;
  height: 360px;
  background-color: #000000;
  border-radius: 15px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.swiper-champion-box {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  // padding: 20px;
  padding-left: 20px;
  border-radius: 30px;
  border: 3px solid #000;
  cursor: pointer;
}
.swiper-champion-box:hover {
  border: 2px solid #59a777 !important;
}
.champ-active {
  border: 2px solid #59a777 !important;
}
